.CourseInfoCard {
	border: 3px solid #febb00;
	width: 30rem;
	margin: 1rem auto;
	height: 24rem;
	background-color: #FFF;
	border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 1rem 0;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

.favorite-btn {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #febb00;
	cursor: pointer;
	border: none;
	justify-self: right;
}

.favorite-btn:hover {
	background-color: #2c9a2c;
}

.favorite-btn:hover > .fa-heart {
	background-color: #2c9a2c;	
	color: #febb00;
}

.fa-heart {
	color: #2c9a2c;
	font-size: 1.5rem;
}

.course-name {
  font-size: 1.25rem;
  color: #2c9a2c;
  font-weight: 600;
}

.course-address {

}

.course-info-header {
	font-weight: 700;
}

.course-info {
	/*margin: 0 auto;*/
}

.course-weather-btn {
	background-color: #febb00;
  color: #524949;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  margin: 0 0 0 0.5rem;		
  outline-width: 0;
  cursor: pointer;
}

.course-weather-btn:hover {
	background-color: #2c9a2c;
	color: #FFF;
}
