.SearchResultsCard {
	border: 3px solid #febb00;
	width: 38rem;
	margin: 1rem auto;
	height: 20rem;
	background-color: #FFF;
	border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 1rem 0;
}

.course-search-result {
	display: flex;
}

.search-result-btn {
	background-color: #febb00;
  color: #524949;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  margin: 0 0 0 0.5rem;		
  outline-width: 0;
  cursor: pointer;
}

.search-result-btn:hover {
	background-color: #2c9a2c;
	color: #FFF;
}

.search-result-header {
  font-size: 1.5rem;
  font-weight: 600;
  color: #524949;
}

.nearby-courses {
  font-size: 1.25rem;
  color: #2c9a2c;
  font-weight: 600;
}